## 16-6. 프로젝트 - Movielens 영화 SBR

### 1. Data Preprocess

#### 1.1 Data Load

In [1]:
import datetime as dt
from pathlib import Path
import os

import numpy as np
import pandas as pd
import tensorflow

print(pd.__version__)
print(tensorflow.__version__)

import warnings
warnings.filterwarnings('ignore')

1.3.3
2.6.0

In [2]:
data_path = Path(os.getenv('HOME')+'/aiffel/yoochoose/data/') 
train_path = data_path / 'ratings.dat'

def load_data(data_path: Path, nrows=None):
    data = pd.read_csv(data_path, sep='::', header=None, usecols=[0, 1, 2, 3], dtype={0: np.int32, 1: np.int32, 2: np.int32}, nrows=nrows)
    data.columns = ['UserId', 'ItemId', 'Rating', 'Time']
    return data

data = load_data(train_path, None)
data.sort_values(['UserId', 'Time'], inplace=True)  # data를 id와 시간 순서로 정렬해줍니다.
data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
24            1    2340       3  978300103
...         ...     ...     ...        ...
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000172    6040    1784       3  997454464
1000167    6040     161       3  997454486
1000042    6040    1221       4  998315055

[1000209 rows x 4 columns]

In [3]:
data['UserId'].nunique(), data['ItemId'].nunique()

(6040, 3706)

#### 1.2 User Length

In [4]:
session_length = data.groupby('UserId').size()
session_length

UserId
1        53
2       129
3        51
4        21
5       198
       ...
6036    888
6037    202
6038     20
6039    123
6040    341
Length: 6040, dtype: int64

In [5]:
session_length.median(), session_length.mean()

(96.0, 165.5975165562914)

In [6]:
session_length.min(), session_length.max()

(20, 2314)

In [7]:
session_length.quantile(0.999)

1343.181000000005

In [8]:
long_session = session_length[session_length==2314].index[0]
data[data['UserId']==long_session]

        UserId  ItemId  Rating        Time
696969    4169    1268       5   965333392
697168    4169    2617       4   965333392
697185    4169    2628       4   965333392
697219    4169    2653       4   965333392
697275    4169     423       3   965333392
...        ...     ...     ...         ...
697882    4169    3754       2  1024174347
695702    4169    1413       3  1024175031
697358    4169     494       4  1024175760
695945    4169    1804       2  1024175783
696446    4169    1548       3  1024176337

[2314 rows x 4 columns]

#### 1.3 Time

In [9]:
oldest, latest = data['Time'].min(), data['Time'].max()
print(oldest) 
print(latest)

956703932
1046454590

In [11]:
type(latest)

numpy.int64

#### 1.4 Data Cleansing

In [14]:
# short_session을 제거한 다음 unpopular item을 제거하면 다시 길이가 1인 session이 생길 수 있습니다.
# 이를 위해 반복문을 통해 지속적으로 제거 합니다.
def cleanse_recursive(data: pd.DataFrame, shortest, least_click) -> pd.DataFrame:
    while True:
        before_len = len(data)
        data = cleanse_short_session(data, shortest)
        data = cleanse_unpopular_item(data, least_click)
        after_len = len(data)
        if before_len == after_len:
            break
    return data


def cleanse_short_session(data: pd.DataFrame, shortest):
    session_len = data.groupby('UserId').size()
    session_use = session_len[session_len >= shortest].index
    data = data[data['UserId'].isin(session_use)]
    return data


def cleanse_unpopular_item(data: pd.DataFrame, least_click):
    item_popular = data.groupby('ItemId').size()
    item_use = item_popular[item_popular >= least_click].index
    data = data[data['ItemId'].isin(item_use)]
    return data

In [15]:
data = cleanse_recursive(data, shortest=2, least_click=5)
data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
24            1    2340       3  978300103
...         ...     ...     ...        ...
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000172    6040    1784       3  997454464
1000167    6040     161       3  997454486
1000042    6040    1221       4  998315055

[999611 rows x 4 columns]

#### 1.5 Train / Valid / Test split

In [16]:
test_path = data_path / 'ratings.dat'
test= load_data(test_path)
test['Time'].min(), test['Time'].max()

(956703932, 1046454590)

In [17]:
def split_by_date(data: pd.DataFrame, n_days: int):
    final_time = data['Time'].max()
    session_last_time = data.groupby('UserId')['Time'].max()
    session_in_train = session_last_time[session_last_time < final_time - dt.timedelta(n_days)].index
    session_in_test = session_last_time[session_last_time >= final_time - dt.timedelta(n_days)].index

    before_date = data[data['UserId'].isin(session_in_train)]
    after_date = data[data['UserId'].isin(session_in_test)]
    after_date = after_date[after_date['ItemId'].isin(before_date['ItemId'])]
    return before_date, after_date

In [18]:
tr, test = split_by_date(data, n_days=180)
tr, val = split_by_date(tr, n_days=180)

TypeError: unsupported operand type(s) for -: 'int' and 'datetime.timedelta'

- 오류 수정 : Time 데이터 바꾸기

In [19]:
data['Datetime'] = '1970-01-01 00:00:00'
data['Datetime'] = pd.to_datetime(data['Datetime'], format="%Y-%m-%d %H:%M:%S")
data.Datetime = data.Datetime + data.Time.map(lambda x : dt.timedelta(seconds=x))
data = data.drop(['Time','Rating'], axis=1)

In [20]:
data

         UserId  ItemId            Datetime
31            1    3186 2000-12-31 22:00:19
22            1    1270 2000-12-31 22:00:55
27            1    1721 2000-12-31 22:00:55
37            1    1022 2000-12-31 22:00:55
24            1    2340 2000-12-31 22:01:43
...         ...     ...                 ...
1000019    6040    2917 2001-08-10 14:40:29
999988     6040    1921 2001-08-10 14:41:04
1000172    6040    1784 2001-08-10 14:41:04
1000167    6040     161 2001-08-10 14:41:26
1000042    6040    1221 2001-08-20 13:44:15

[999611 rows x 3 columns]

In [21]:
def split_by_date(data: pd.DataFrame, n_days: int):
    final_time = data['Datetime'].max()
    user_last_time = data.groupby('UserId')['Datetime'].max().sort_values()
    user_in_train = data[data['Datetime'] < final_time - dt.timedelta(n_days)]
    user_in_test = data[data['Datetime'] >= final_time - dt.timedelta(n_days)]
    
    before_date = user_in_train
    after_date = user_in_test
    return before_date, after_date

In [22]:
tr, test = split_by_date(data, n_days=180)
tr, val = split_by_date(tr, n_days=180)

In [23]:
# data에 대한 정보를 살펴봅니다.
def stats_info(data: pd.DataFrame, status: str):
    print(f'* {status} Set Stats Info\n'
          f'\t Events: {len(data)}\n'
          f'\t Users: {data["UserId"].nunique()}\n'
          f'\t Items: {data["ItemId"].nunique()}\n'
          f'\t First Time : {data["Datetime"].min()}\n'
          f'\t Last Time : {data["Datetime"].max()}\n')

In [24]:
stats_info(tr, 'train')
stats_info(val, 'valid')
stats_info(test, 'test')

* train Set Stats Info
	 Events: 978534
	 Users: 6038
	 Items: 3416
	 First Time : 2000-04-25 23:05:32
	 Last Time : 2002-03-05 04:19:56

* valid Set Stats Info
	 Events: 12271
	 Users: 399
	 Items: 2606
	 First Time : 2002-03-05 04:21:07
	 Last Time : 2002-09-01 04:20:59

* test Set Stats Info
	 Events: 8806
	 Users: 339
	 Items: 2317
	 First Time : 2002-09-01 19:41:39
	 Last Time : 2003-02-28 17:49:50

In [25]:
# train set에 없는 아이템이 val, test기간에 생길 수 있으므로 train data를 기준으로 인덱싱합니다.
id2idx = {item_id : index for index, item_id in enumerate(tr['ItemId'].unique())}

def indexing(df, id2idx):
    df['item_idx'] = df['ItemId'].map(lambda x: id2idx.get(x, -1))  # id2idx에 없는 아이템은 모르는 값(-1) 처리 해줍니다.
    return df

tr = indexing(tr, id2idx)
val = indexing(val, id2idx)
test = indexing(test, id2idx)

In [26]:
save_path = data_path / 'processed'
save_path.mkdir(parents=True, exist_ok=True)

tr.to_pickle(save_path / 'train.pkl')
val.to_pickle(save_path / 'valid.pkl')
test.to_pickle(save_path / 'test.pkl')

### 2. Data Pipeline
#### 2.1 SessionDataset

In [27]:
class SessionDataset:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, data):
        self.df = data
        self.click_offsets = self.get_click_offsets()
        self.session_idx = np.arange(self.df['UserId'].nunique())  # indexing to SessionId

    def get_click_offsets(self):
        """
        Return the indexes of the first click of each session IDs,
        """
        offsets = np.zeros(self.df['UserId'].nunique() + 1, dtype=np.int32)
        offsets[1:] = self.df.groupby('UserId').size().cumsum()
        return offsets

In [28]:
tr_dataset = SessionDataset(tr)
tr_dataset.df.head(10)

    UserId  ItemId            Datetime  item_idx
31       1    3186 2000-12-31 22:00:19         0
22       1    1270 2000-12-31 22:00:55         1
27       1    1721 2000-12-31 22:00:55         2
37       1    1022 2000-12-31 22:00:55         3
24       1    2340 2000-12-31 22:01:43         4
36       1    1836 2000-12-31 22:02:52         5
3        1    3408 2000-12-31 22:04:35         6
7        1    2804 2000-12-31 22:11:59         7
47       1    1207 2000-12-31 22:11:59         8
0        1    1193 2000-12-31 22:12:40         9

In [29]:
tr_dataset.click_offsets

array([     0,     53,    182, ..., 978070, 978193, 978534], dtype=int32)

In [30]:
tr_dataset.session_idx

array([   0,    1,    2, ..., 6035, 6036, 6037])

#### 2.2 SessionDataLoader

In [31]:
class SessionDataLoader:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, dataset: SessionDataset, batch_size=50):
        self.dataset = dataset
        self.batch_size = batch_size

    def __iter__(self):
        """ Returns the iterator for producing session-parallel training mini-batches.
        Yields:
            input (B,):  Item indices that will be encoded as one-hot vectors later.
            target (B,): a Variable that stores the target item indices
            masks: Numpy array indicating the positions of the sessions to be terminated
        """

        start, end, mask, last_session, finished = self.initialize()  # initialize 메소드에서 확인해주세요.
        """
        start : Index Where Session Start
        end : Index Where Session End
        mask : indicator for the sessions to be terminated
        """

        while not finished:
            min_len = (end - start).min() - 1  # Shortest Length Among Sessions
            for i in range(min_len):
                # Build inputs & targets
                inp = self.dataset.df['item_idx'].values[start + i]
                target = self.dataset.df['item_idx'].values[start + i + 1]
                yield inp, target, mask

            start, end, mask, last_session, finished = self.update_status(start, end, min_len, last_session, finished)

    def initialize(self):
        first_iters = np.arange(self.batch_size)    # 첫 배치에 사용할 세션 Index를 가져옵니다.
        last_session = self.batch_size - 1    # 마지막으로 다루고 있는 세션 Index를 저장해둡니다.
        start = self.dataset.click_offsets[self.dataset.session_idx[first_iters]]       # data 상에서 session이 시작된 위치를 가져옵니다.
        end = self.dataset.click_offsets[self.dataset.session_idx[first_iters] + 1]  # session이 끝난 위치 바로 다음 위치를 가져옵니다.
        mask = np.array([])   # session의 모든 아이템을 다 돌은 경우 mask에 추가해줄 것입니다.
        finished = False         # data를 전부 돌았는지 기록하기 위한 변수입니다.
        return start, end, mask, last_session, finished

    def update_status(self, start: np.ndarray, end: np.ndarray, min_len: int, last_session: int, finished: bool):  
        # 다음 배치 데이터를 생성하기 위해 상태를 update합니다.
        
        start += min_len   # __iter__에서 min_len 만큼 for문을 돌았으므로 start를 min_len 만큼 더해줍니다.
        mask = np.arange(self.batch_size)[(end - start) == 1]  
        # end는 다음 세션이 시작되는 위치인데 start와 한 칸 차이난다는 것은 session이 끝났다는 뜻입니다. mask에 기록해줍니다.

        for i, idx in enumerate(mask, start=1):  # mask에 추가된 세션 개수만큼 새로운 세션을 돌것입니다.
            new_session = last_session + i  
            if new_session > self.dataset.session_idx[-1]:  # 만약 새로운 세션이 마지막 세션 index보다 크다면 모든 학습데이터를 돈 것입니다.
                finished = True
                break
            # update the next starting/ending point
            start[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session]]     # 종료된 세션 대신 새로운 세션의 시작점을 기록합니다.
            end[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session] + 1]

        last_session += len(mask)  # 마지막 세션의 위치를 기록해둡니다.
        return start, end, mask, last_session, finished

In [33]:
tr_data_loader = SessionDataLoader(tr_dataset, batch_size=512)
tr_dataset.df.head(15)

    UserId  ItemId            Datetime  item_idx
31       1    3186 2000-12-31 22:00:19         0
22       1    1270 2000-12-31 22:00:55         1
27       1    1721 2000-12-31 22:00:55         2
37       1    1022 2000-12-31 22:00:55         3
24       1    2340 2000-12-31 22:01:43         4
36       1    1836 2000-12-31 22:02:52         5
3        1    3408 2000-12-31 22:04:35         6
7        1    2804 2000-12-31 22:11:59         7
47       1    1207 2000-12-31 22:11:59         8
0        1    1193 2000-12-31 22:12:40         9
21       1     720 2000-12-31 22:12:40        10
44       1     260 2000-12-31 22:12:40        11
9        1     919 2000-12-31 22:22:48        12
51       1     608 2000-12-31 22:23:18        13
43       1    2692 2000-12-31 22:26:10        14

In [34]:
iter_ex = iter(tr_data_loader)

In [35]:
inputs, labels, mask =  next(iter_ex)
print(f'Model Input Item Idx are : {inputs}')
print(f'Label Item Idx are : {"":5} {labels}')
print(f'Previous Masked Input Idx are {mask}')

Model Input Item Idx are : [   0   53   65   54   56  385    1   54  514  429   53  829   37  860
  870  927  945   93  985   16  944   78  218   89 1046   65  552    9
 1468  805 1491   89  799 1592  117 1205 1083  599    2   81   32    9
  125 1600 1096 1732    9   37  163 1115  267   65   93    9  453   93
 2001 1912   11  593 1180  267  325   53  597   16  599 2135  183  237
 2058   54   78    2 2167 1784 2200  235  661  134 2159  385   78  125
 1159  408 2232   91  502  126 1400 1105  163 1068   81    9  386 1499
  507  668  491  739  554  552  134   91 1022    1    1  546 1090 2326
  491 1771  343 1671  186 1234  664   11   53   16   28   93 1633   93
    1 1046 1908  267   54 2320   62  901 2258    9  165  501    9   15
 1258  155   37  127 1391   78   49  109  326  316  517 1054 1340   78
  874  799  552  386  114   24   81    2 1173   24   53   91  483  685
  611  267   82 1505  154  688  134  258   11    9   78 1468  405  514
   25   78  163 2016   65  385 1440    2   11  191  845 1059  125    9
  146  622    1 1062   41 1350    1  125 2818    9   54   24  429 1292
  405    2   81  912   11 1749   24   81 2409 1572    1   53  429  218
 2093  385  125  888  775  593  134 1556  597  335  279  970  183   93
  154  125  799  409   37   54  485   42  868 1357  942  917    1  205
   73    1  641  168  857   78    2  153  147  156 1370 1113   54  620
   54   65  267  552   65   54   16  883   65    2   37 1107 1061  768
  386   62  150    1   32  127   91  386  163   65  386 1587    9 1392
  952 1479 1213  402   81  821    9  745  429  267 1784  911   42 2595
  206  543    2    9 1062  733  134 1655    9  101  780  391  124   81
 1137 2449  672   37  280   16  854  661    2    9   53   56 1033  163
  716  385 1614 1741   73  177 1502    1 1437  106  803 1637 1120 2646
 1300  554   53  218  129 2122  665  386   54  181 1653    2 1067  272
 2408  635  435 1661 1331 1187   54  259 1096 1030  129   73  125 2284
  494  133 1723 1107    9   37  134  435 1664 1277 2118  163  552   46
  258 1685  151 2139  278 1385  302 1107   54  136  711  267 2065  190
   17 1969  827 2128    1  187   11   54   81  898 1279  156  207    2
  841 2044  458 2835  664   65  571  163  129   81 2167  768   41 2616
 1322 1825    9 1059  895  522  550   53  405  554  430  926  579    2
 2144   16   15  716  770 2267    1  385   53  134 2134    9  554    1
  597   71   45  379  429  674  704 2989 1049  183  386  176 1685 1101
 1326  597   53   54  267  862   15 2505 1309  385   65  386  614  163
 1915  622  891    1  163    1 1681  554  657  926 2903  267  546 1030
   11   65  267  462    0 2174  770    1]
Label Item Idx are :       [   1   54   62   24  218  144  134  435   15  551  599  203  183   91
   53  419    9 1019   65  267 1165 1048 1231 1297   53 1301  542 1458
 1221  385 1492  134   41 1593 1604 1653   35  385 1687 1690 1071  132
   15  411   81  791  396 1707 1257 1875   48  450 1389   11   65  539
 1681  430  704  818  917 1095 2118  473  134  125 1135  414  125   11
  267  278  754  837  163   47 2196  675    1   54   54  692 2222  684
  397   54 1165  134   16  552  435  483 2275  218 1520  693  552   54
 2127   11 1856    1  386    9   37  218    2  144   11  125  478  799
   56  218  636  809  319  927 1693    9 1035   53  125  540 1132  969
  450 2437 2441 2448 2394  672  546  709 1016  694   91   54   65 2030
  388  392  236   15 1343 2099   73  183  799 1163  163 2250  502  552
  552 1360 1336  603   16   54  218   37   93  552 2414   41    2  185
 1316 1433  809  106  368    1  385  173   54  386 1409    9 1435 1959
  385   69  517   54   81 2277   65   37 1991 2556 1795  382   95 1555
  907   24   17 2149   16   78 1201  220  951 1264   78   15    1  430
 2071  510  893   78  385 1102   54 2804  535   73 2420  668  477  444
 1235 1045  163   54   16  134  430  701   54  154 2614  163   54 1411
   54  385  644   54  712  977   15 1203  190  924  682  213 1613  120
 1101 1043  747   54   24   66 1721 2151  873  857   93   24  667  599
  599 1351 1810 2619 1196  385  163 1023   41 1530   28    2 2939  138
    9  134 1122  397   79    2 1539 2032  809  878  163  495   65  467
    9  134  435   41   24   73   99 1820    1 1133  938   28   21   11
   53  163   54  813   54  537   81 1526   42  767   16  385   54 2065
  134   54    2  441  120   51    2   67  425  582  571    2 1347   25
   54 1387   15  696 1569  724  435 1110 1969   16    2  144 1520  163
   94  435  433 1721    9  134 1045 2870   23   54 1666  261   37 1500
   38   16 2027   73  397   53  386  134   65  799 1806   11  909  610
   41  134  495  451  154 1362 1401  455   54 1573 3012   14 2224  629
  774  478   47    2 1302 1281  198  861  332 1533   51    2   15  628
  892  552  301 1823   39  393  397   78  208   91   11  599  552  191
    2   11   37  799    9  770  163  541  935 1270   73  680  117  708
  495  756  669 1163   54  495   81  218   24 1078  267  134 2101  970
  264  185    9 1567  152   53  552 2379 1121 2238 1725  134  483   53
   16 3048  343 1358   11 2792  134   54 2999   62 1351  130   54  418
  421  386 1266    9  185 1210  163   73  571   53  218  310   24 2263
 1113  435   54 1572 2014  252   73  336  429  649  906  230   53   11
   65  842 1564  674   54  385 1027 1201]
Previous Masked Input Idx are []

### 3. Modeling
#### 3.1 Evaluation Metric

In [36]:
def mrr_k(pred, truth: int, k: int):
    indexing = np.where(pred[:k] == truth)[0]
    if len(indexing) > 0:
        return 1 / (indexing[0] + 1)
    else:
        return 0


def recall_k(pred, truth: int, k: int) -> int:
    answer = truth in pred[:k]
    return int(answer)

#### 3.2 Model Architecture

In [37]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, Dropout, GRU
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from tqdm import tqdm

In [38]:
def create_model(args):
    inputs = Input(batch_shape=(args.batch_size, 1, args.num_items))
    gru, _ = GRU(args.hsz, stateful=True, return_state=True, name='GRU')(inputs)
    dropout = Dropout(args.drop_rate)(gru)
    predictions = Dense(args.num_items, activation='softmax')(dropout)
    model = Model(inputs=inputs, outputs=[predictions])
    model.compile(loss=categorical_crossentropy, optimizer=Adam(args.lr), metrics=['accuracy'])
    model.summary()
    return model

In [41]:
class Args:
    def __init__(self, tr, val, test, batch_size, hsz, drop_rate, lr, epochs, k):
        self.tr = tr
        self.val = val
        self.test = test
        self.num_items = tr['ItemId'].nunique()
        self.num_sessions = tr['UserId'].nunique()
        self.batch_size = batch_size
        self.hsz = hsz
        self.drop_rate = drop_rate
        self.lr = lr
        self.epochs = epochs
        self.k = k

args = Args(tr, val, test, batch_size=128, hsz=50, drop_rate=0.1, lr=0.001, epochs=3, k=20)

In [42]:
model = create_model(args)

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(128, 1, 3416)]          0
_________________________________________________________________
GRU (GRU)                    [(128, 50), (128, 50)]    520200
_________________________________________________________________
dropout (Dropout)            (128, 50)                 0
_________________________________________________________________
dense (Dense)                (128, 3416)               174216
=================================================================
Total params: 694,416
Trainable params: 694,416
Non-trainable params: 0
_________________________________________________________________

#### 3.3 Model Training

In [47]:
# train 셋으로 학습하면서 valid 셋으로 검증합니다.
def train_model(model, args):
    train_dataset = SessionDataset(args.tr)
    train_loader = SessionDataLoader(train_dataset, batch_size=args.batch_size)

    for epoch in range(1, args.epochs + 1):
        total_step = len(args.tr) - args.tr['UserId'].nunique()
        tr_loader = tqdm(train_loader, total=total_step // args.batch_size, desc='Train', mininterval=1)
        for feat, target, mask in tr_loader:
            reset_hidden_states(model, mask)  # 종료된 session은 hidden_state를 초기화합니다. 아래 메서드에서 확인해주세요.

            input_ohe = to_categorical(feat, num_classes=args.num_items)
            input_ohe = np.expand_dims(input_ohe, axis=1)
            target_ohe = to_categorical(target, num_classes=args.num_items)

            result = model.train_on_batch(input_ohe, target_ohe)
            tr_loader.set_postfix(train_loss=result[0], accuracy = result[1])

        val_recall, val_mrr = get_metrics(args.val, model, args, args.k)  # valid set에 대해 검증합니다.

        print(f"\t - Recall@{args.k} epoch {epoch}: {val_recall:3f}")
        print(f"\t - MRR@{args.k}    epoch {epoch}: {val_mrr:3f}\n")


def reset_hidden_states(model, mask):
    gru_layer = model.get_layer(name='GRU')  # model에서 gru layer를 가져옵니다.
    hidden_states = gru_layer.states[0].numpy()  # gru_layer의 parameter를 가져옵니다.
    for elt in mask:  # mask된 인덱스 즉, 종료된 세션의 인덱스를 돌면서
        hidden_states[elt, :] = 0  # parameter를 초기화 합니다.
    gru_layer.reset_states(states=hidden_states)


def get_metrics(data, model, args, k: int):  # valid셋과 test셋을 평가하는 코드입니다. 
                                             # train과 거의 같지만 mrr, recall을 구하는 라인이 있습니다.
    dataset = SessionDataset(data)
    loader = SessionDataLoader(dataset, batch_size=args.batch_size)
    recall_list, mrr_list = [], []

    total_step = len(data) - data['UserId'].nunique()
    for inputs, label, mask in tqdm(loader, total=total_step // args.batch_size, desc='Evaluation', mininterval=1):
        reset_hidden_states(model, mask)
        input_ohe = to_categorical(inputs, num_classes=args.num_items)
        input_ohe = np.expand_dims(input_ohe, axis=1)

        pred = model.predict(input_ohe, batch_size=args.batch_size)
        pred_arg = tf.argsort(pred, direction='DESCENDING')  # softmax 값이 큰 순서대로 sorting 합니다.

        length = len(inputs)
        recall_list.extend([recall_k(pred_arg[i], label[i], k) for i in range(length)])
        mrr_list.extend([mrr_k(pred_arg[i], label[i], k) for i in range(length)])

    recall, mrr = np.mean(recall_list), np.mean(mrr_list)
    return recall, mrr

## model 1
- batch_size=128, hsz=50, drop_rate=0.1, lr=0.001, epochs=3

In [48]:
train_model(model, args)

Train:  98%|█████████▊| 7429/7597 [01:58<00:02, 62.92it/s, accuracy=0.00781, train_loss=6.04]
Evaluation:  45%|████▍     | 41/92 [00:24<00:30,  1.70it/s]

	 - Recall@20 epoch 1: 0.097752
	 - MRR@20    epoch 1: 0.024810

Train:  98%|█████████▊| 7429/7597 [01:52<00:02, 66.20it/s, accuracy=0.0156, train_loss=5.74]
Evaluation:  45%|████▍     | 41/92 [00:22<00:28,  1.79it/s]

	 - Recall@20 epoch 2: 0.121189
	 - MRR@20    epoch 2: 0.032674

Train:  98%|█████████▊| 7429/7597 [01:48<00:02, 68.31it/s, accuracy=0.0312, train_loss=5.72]
Evaluation:  45%|████▍     | 41/92 [00:23<00:28,  1.77it/s]

	 - Recall@20 epoch 3: 0.127668
	 - MRR@20    epoch 3: 0.035394

In [50]:
def test_model(model, args, test):
    test_recall, test_mrr = get_metrics(test, model, args, 20)
    print(f"\t - Recall@{args.k}: {test_recall:3f}")
    print(f"\t - MRR@{args.k}: {test_mrr:3f}\n")

test_model(model, args, test)

Evaluation:  36%|███▋      | 24/66 [00:12<00:22,  1.85it/s]

	 - Recall@20: 0.142904
	 - MRR@20: 0.042679

## model 2
- batch_size=256, hsz=100, drop_rate=0.3, lr=0.001, epochs=3

In [51]:
args = Args(tr, val, test, batch_size=256, hsz=100, drop_rate=0.3, lr=0.001, epochs=3, k=20)
model = create_model(args)
train_model(model, args)

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(256, 1, 3416)]          0
_________________________________________________________________
GRU (GRU)                    [(256, 100), (256, 100)]  1055400
_________________________________________________________________
dropout_1 (Dropout)          (256, 100)                0
_________________________________________________________________
dense_1 (Dense)              (256, 3416)               345016
=================================================================
Total params: 1,400,416
Trainable params: 1,400,416
Non-trainable params: 0
_________________________________________________________________

Train:  95%|█████████▌| 3619/3798 [01:21<00:04, 44.52it/s, accuracy=0.0234, train_loss=6.24]
Evaluation:  15%|█▌        | 7/46 [00:07<00:43,  1.12s/it]

	 - Recall@20 epoch 1: 0.072545
	 - MRR@20    epoch 1: 0.019491

Train:  95%|█████████▌| 3619/3798 [01:18<00:03, 45.90it/s, accuracy=0.0391, train_loss=5.92]
Evaluation:  15%|█▌        | 7/46 [00:07<00:42,  1.09s/it]

	 - Recall@20 epoch 2: 0.102121
	 - MRR@20    epoch 2: 0.030105

Train:  95%|█████████▌| 3619/3798 [01:19<00:03, 45.68it/s, accuracy=0.0312, train_loss=5.74]
Evaluation:  15%|█▌        | 7/46 [00:07<00:40,  1.04s/it]

	 - Recall@20 epoch 3: 0.107701
	 - MRR@20    epoch 3: 0.032009

In [52]:
test_model(model, args, test)

Evaluation:   6%|▌         | 2/33 [00:02<00:32,  1.03s/it]

	 - Recall@20: 0.121094
	 - MRR@20: 0.038879

## model 3
- batch_size=64, hsz=50, drop_rate=0.3, lr=0.001, epochs=3

In [53]:
args = Args(tr, val, test, batch_size=64, hsz=50, drop_rate=0.3, lr=0.001, epochs=3, k=20)
model = create_model(args)
train_model(model, args)

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(64, 1, 3416)]           0
_________________________________________________________________
GRU (GRU)                    [(64, 50), (64, 50)]      520200
_________________________________________________________________
dropout_2 (Dropout)          (64, 50)                  0
_________________________________________________________________
dense_2 (Dense)              (64, 3416)                174216
=================================================================
Total params: 694,416
Trainable params: 694,416
Non-trainable params: 0
_________________________________________________________________

Train:  99%|█████████▉| 15012/15195 [03:02<00:02, 82.12it/s, accuracy=0.0469, train_loss=5.95]
Evaluation:  67%|██████▋   | 124/185 [00:37<00:18,  3.29it/s]

	 - Recall@20 epoch 1: 0.105973
	 - MRR@20    epoch 1: 0.028516

Train:  99%|█████████▉| 15012/15195 [03:02<00:02, 82.40it/s, accuracy=0.0156, train_loss=5.61]
Evaluation:  67%|██████▋   | 124/185 [00:36<00:18,  3.38it/s]

	 - Recall@20 epoch 2: 0.126134
	 - MRR@20    epoch 2: 0.035022

Train:  99%|█████████▉| 15012/15195 [03:03<00:02, 81.69it/s, accuracy=0.0625, train_loss=5.55]
Evaluation:  67%|██████▋   | 124/185 [00:36<00:18,  3.36it/s]

	 - Recall@20 epoch 3: 0.133443
	 - MRR@20    epoch 3: 0.038156

In [54]:
test_model(model, args, test)

Evaluation:  59%|█████▉    | 78/132 [00:21<00:15,  3.56it/s]

	 - Recall@20: 0.149038
	 - MRR@20: 0.043195